.spd_reqWrapper{
    border: 3px solid #7ED6DF;
    border-radius: 12px;
    width: 40%;
    margin-top: 2%;
    margin-right: 2%;
    padding: 1%;
}
.spd_aprvd{
    color: green;
}
.spd_pending{
    color: rgb(224, 0, 0);
}
.spd_reqBox{
    display: flex;
    flex-wrap: wrap;
}
